/***************************************************************
 * Dub+ menu styles
 */
/* css switch layout related variables */
.dubplus-icon {
  width: 26px;
  font-size: 1.2rem;
  line-height: 1.2;
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  margin-left: 1rem; }

.dubplus-menu {
  position: fixed;
  z-index: 999;
  background-color: rgba(10, 10, 10, 0.98);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  width: 255px;
  overflow-y: hidden;
  top: 58px;
  right: 0;
  -webkit-transform: translateX(255px);
          transform: translateX(255px);
  box-sizing: border-box;
  color: #999;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.4;
  padding-bottom: 100px;
  height: calc(100% - 114px);
  overflow-y: auto; }
  .dubplus-menu a {
    color: #999; }

.dubplus-menu.dubplus-menu-open {
  -webkit-transform: translate3d(15px, 0, 0);
          transform: translate3d(15px, 0, 0); }

.dubplus-menu-header {
  padding: 12px 15px;
  line-height: 1;
  margin: 0;
  border-bottom: 1px solid #222;
  font-size: 1.2em;
  color: #ccc; }

.dubplus-menu-section {
  padding: 0 15px;
  border-bottom: 1px solid #222;
  max-height: 500px;
  -webkit-transition: max-height 0.3s;
  transition: max-height 0.3s;
  overflow: hidden;
  margin: 0;
  list-style-type: none; }

.dubplus-menu-section-closed {
  max-height: 0;
  border: none; }

.dubplus-menu-section-header {
  border-bottom: 1px solid #222;
  overflow: hidden;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #202020; }

.dubplus-menu-section-header span {
  display: block;
  width: 10%;
  float: left; }

.dubplus-menu-section-header p {
  width: 90%;
  float: left;
  margin: 0;
  line-height: 1; }

.dubplus-switch,
.dubplus-menu-icon {
  position: relative;
  margin: 10px 0; }
  .dubplus-switch:before, .dubplus-switch:after,
  .dubplus-menu-icon:before,
  .dubplus-menu-icon:after {
    content: " ";
    display: table; }
  .dubplus-switch:after,
  .dubplus-menu-icon:after {
    clear: both; }

.dubplus-menu-icon a {
  text-decoration: none; }

.dubplus-menu-icon .fa {
  position: relative;
  color: #eb008b;
  width: 29px;
  float: left;
  display: block;
  top: 2px;
  cursor: pointer;
  text-align: center; }

.dubplus-switch-bg {
  position: relative;
  float: left;
  top: 2px;
  z-index: 2;
  padding: 1px;
  height: 16px;
  width: 29px;
  border-radius: 20px;
  background: #333;
  border: 2px solid #444;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(1, 0, 0.5, 0);
  transition: -webkit-transform 0.8s cubic-bezier(1, 0, 0.5, 0);
  transition: transform 0.8s cubic-bezier(1, 0, 0.5, 0);
  transition: transform 0.8s cubic-bezier(1, 0, 0.5, 0), -webkit-transform 0.8s cubic-bezier(1, 0, 0.5, 0); }

.dubplus-switcher {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  vertical-align: middle;
  position: absolute;
  z-index: 2;
  top: 0;
  background: #eb008b;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.8, 0, 0.05, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.8, 0, 0.05, 1);
  transition: transform 0.2s cubic-bezier(0.8, 0, 0.05, 1);
  transition: transform 0.2s cubic-bezier(0.8, 0, 0.05, 1), -webkit-transform 0.2s cubic-bezier(0.8, 0, 0.05, 1); }

.dubplus-switch-on .dubplus-switch-bg {
  background: #666;
  border: 2px solid #666; }

.dubplus-switch-on .dubplus-switcher {
  background: #6fcbdc;
  border: 2px solid #6fcbdc;
  -webkit-transform: translateX(10px);
          transform: translateX(10px); }

.dubplus-switch .dubplus-menu-label,
.dubplus-menu-icon .dubplus-menu-label {
  padding-left: 11px;
  cursor: pointer;
  display: table-cell;
  width: 10000px; }

.dubplus-switch .extra-icon {
  display: block;
  cursor: pointer;
  height: 100%;
  width: 9%;
  float: right; }

.dp-modal {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 999999;
  font-weight: 400;
  top: 0; }
  .dp-modal .container {
    display: block;
    margin-top: 108px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0 0 5px #000;
    background: #111;
    color: #fff;
    width: 500px; }
  .dp-modal .title {
    height: 54px;
    background: #333; }
  .dp-modal .title h1 {
    margin: 0;
    text-align: center;
    padding-top: 12px;
    font-weight: 400; }
  .dp-modal .content {
    width: 100%;
    margin: 0 auto;
    padding: 27px 0; }
  .dp-modal .content p {
    margin: 0;
    padding: 0 16px 16px;
    font-size: 14px; }
  .dp-modal textarea {
    width: 100% !important;
    min-height: 108px !important;
    background: #333;
    padding: 16px;
    color: white;
    border: transparent;
    font-size: 14px;
    resize: vertical; }

.dp-modal-buttons {
  width: 100%;
  overflow: hidden; }

#dp-modal-cancel {
  background: #333; }

#dp-modal-confirm {
  background: #0ff;
  color: #555; }

.dp-modal-buttons button {
  display: block;
  float: left;
  width: 50%;
  text-align: center;
  padding: 1em 0;
  border: none;
  text-transform: uppercase;
  color: #eee;
  font-size: 16px;
  cursor: pointer; }

.duration {
  font-size: 14px !important;
  margin-top: .5em !important; }

.snooze_btn:after {
  content: '1';
  vertical-align: top;
  font-size: 0.75rem;
  font-weight: 700; }

/* Make the volume controller visible all the time */
.dubplus #main_player .player_sharing .player-controller-container .volume-controller-container {
  display: block; }

/* Not sure what this is for */
#chat .chat-container .chat-messages .chat-main li .stream-item-content .image_row,
#chat .chat-container .chat-messages .chat-main li .chatDelete {
  top: 0.6rem; }

#chat .chat-container .chat-messages .chat-main li .activity-row {
  padding-top: 0.6rem; }

#chat .chat-container .chat-messages .chat-main li.chat-system-loading,
#chat .chat-container .chat-messages .chat-main li.system,
#chat .chat-container .chat-messages .chat-main li.system-error,
#chat .chat-container .chat-messages .chat-main li.chat-me-command-joined {
  padding-top: 1rem;
  padding: 5px; }

/* Dubtracks adds Admin class to its own admins */
#avatar-list .user-mbsurfer .dubs:before {
  content: "Dub+ TEAM  -  ";
  font-weight: 700 !important;
  color: #89BE6C !important; }

#avatar-list .user-mbsurfer {
  color: #89BE6C !important; }

#chat .chat-container ul.chat-main li.user-560892bf8e9cb60300550aa2 .stream-item-content .activity-row .username {
  color: #89BE6C !important;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5); }
  #chat .chat-container ul.chat-main li.user-560892bf8e9cb60300550aa2 .stream-item-content .activity-row .username:before {
    content: "\f055  \f132" !important; }
  #chat .chat-container ul.chat-main li.user-560892bf8e9cb60300550aa2 .stream-item-content .activity-row .username:before {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px; }
  #chat .chat-container ul.chat-main li.user-560892bf8e9cb60300550aa2 .stream-item-content .activity-row .username:hover:before {
    content: "Dub+" !important;
    font-weight: 700;
    font-family: proxima-nova,sans-serif;
    font-size: 10px; }

#avatar-list .user-mbsurfer p.dubs:hover:before {
  content: "Dub+ Owner  -  ";
  font-weight: 700 !important;
  color: #89BE6C !important; }

#avatar-list .user-ciscog .dubs:before {
  content: "Dub+ TEAM  -  ";
  font-weight: 700 !important;
  color: #89BE6C !important; }

#avatar-list .user-ciscog {
  color: #89BE6C !important; }

#chat .chat-container ul.chat-main li.user-56008425621a9e0300317238 .stream-item-content .activity-row .username {
  color: #89BE6C !important;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5); }
  #chat .chat-container ul.chat-main li.user-56008425621a9e0300317238 .stream-item-content .activity-row .username:before {
    content: "\f055  \f132" !important; }
  #chat .chat-container ul.chat-main li.user-56008425621a9e0300317238 .stream-item-content .activity-row .username:before {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px; }
  #chat .chat-container ul.chat-main li.user-56008425621a9e0300317238 .stream-item-content .activity-row .username:hover:before {
    content: "Dub+" !important;
    font-weight: 700;
    font-family: proxima-nova,sans-serif;
    font-size: 10px; }

#avatar-list .user-ciscog p.dubs:hover:before {
  content: "Dub+ Owner  -  ";
  font-weight: 700 !important;
  color: #89BE6C !important; }

.dubplus-split-chat .chat-main li:nth-child(2n) {
  background: -webkit-linear-gradient(left, rgba(155, 157, 160, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(155, 157, 160, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  box-shadow: -16px 0px 0px 0px rgba(155, 157, 160, 0.1);
  width: 100%; }
  .dubplus-split-chat .chat-main li:nth-child(2n) .chatDelete {
    right: 1.7em !important; }

.dubplus-split-chat .split {
  background: -webkit-linear-gradient(left, rgba(155, 157, 160, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(155, 157, 160, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  box-shadow: -16px 0px 0px 0px rgba(155, 157, 160, 0.1);
  width: 100%; }

.dubplus-split-chat .splitfix {
  right: 1.7em !important; }

/****************************************************
 * Emoji and emote section
 * twitch logo white: https://i.imgur.com/FhzONPQ.png
 * bttv logo white: https://i.imgur.com/oTfAI0O.png
 */
#autocomplete-preview {
  overflow: auto;
  display: block;
  position: absolute;
  bottom: 54px;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: auto;
  max-height: 0;
  padding: 0;
  list-style-type: none;
  margin: 0; }

#autocomplete-preview li {
  display: block;
  padding: 6px 10px;
  margin: 0; }

#autocomplete-preview li:hover,
#autocomplete-preview li.selected {
  background-color: #555; }

#autocomplete-preview li:focus {
  outline: none; }

#autocomplete-preview .preview-item {
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 98% center; }

.twitch-previews {
  background-image: url(https://i.imgur.com/FhzONPQ.png); }

.bttv-previews {
  background-image: url(https://i.imgur.com/oTfAI0O.png); }

.tasty-previews {
  background-image: url(https://cdn.jsdelivr.net/gh/DubPlus/DubPlus/emotes/tastycat/21.png); }

.frankerFacez-previews {
  background-image: url(https://i.imgur.com/DuJfI4T.png); }

#autocomplete-preview span {
  font-size: 0.8em;
  display: inline-block;
  padding-left: 20px;
  position: relative;
  top: -7px; }

#autocomplete-preview .ac-image {
  width: 1.4em;
  display: inline-block; }

#autocomplete-preview .ac-image img {
  width: 100%;
  height: auto; }

.users-preview .ac-image {
  border-radius: 100%; }

#autocomplete-preview.ac-show {
  border: 1px solid #202020;
  border-bottom: 1px solid #878c8e;
  max-height: 164px;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.twitch-emote.emoji,
.bttv-emote.emoji {
  max-width: 1.75rem !important;
  height: auto !important; }

/* 
  tasty emotes get a specific Width and Height from the API 
  The max width is 75px
*/
.tasty-emote.emoji {
  max-width: 75px !important;
  width: auto !important;
  height: auto !important; }

.dubplus-chat-only .left_section {
  display: none !important; }

.dubplus-chat-only .right_section {
  width: 40rem !important;
  margin: 0 auto !important;
  right: initial !important;
  position: relative !important;
  float: inherit !important; }

.dubplus-chat-only .activity-row .text img {
  max-height: 30rem; }

#dubplus-updubs-container,
#dubplus-downdubs-container,
#dubplus-grabs-container {
  position: fixed;
  overflow-y: auto;
  overflow-x: visible;
  height: 150px;
  width: 200px;
  z-index: 100001; }

#dubinfo-preview {
  display: block;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: auto;
  max-height: 0;
  padding: 0;
  list-style-type: none;
  margin: 0;
  position: relative;
  overflow: hidden;
  bottom: 0;
  height: 150px;
  border: 1px solid white; }

#dubinfo-preview.dubplus-updubs-hover,
#dubinfo-preview.dubplus-grabs-hover {
  border-radius: 0.4rem 0.4rem 0.4rem 0; }

#dubinfo-preview.dubplus-downdubs-hover {
  border-radius: 0.4rem 0.4rem 0 0.4rem; }

#dubinfo-preview.dubplus-no-dubs,
#dubinfo-preview.dubplus-no-grabs,
#dubinfo-preview.dubplus-downdubs-unauthorized {
  text-align: center;
  padding: 50px 10px; }

#dubinfo-preview.dubplus-no-dubs {
  color: #0ff; }

.dubplus-chat-system {
  font-style: italic;
  padding-top: 1rem;
  padding: 5px;
  font-weight: 700;
  min-height: 1rem;
  text-align: left; }

.dubplus-chat-system-grab, .chat-system-grabbed {
  color: #B3E790 !important; }

.dubplus-chat-system-updub {
  color: #0ff; }

.dubplus-chat-system-downdub {
  color: #f0f; }

#dubinfo-preview.dubplus-no-grabs {
  color: #B3E790; }

#dubinfo-preview.dubplus-downdubs-unauthorized {
  color: #f0f; }

#dubinfo-preview li {
  display: block;
  padding: 6px 10px;
  margin: 0;
  cursor: pointer; }

#dubinfo-preview li:hover,
#dubinfo-preview li.selected {
  background-color: #555; }

#dubinfo-preview li:focus {
  outline: none; }

#dubinfo-preview .preview-dubinfo-item {
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 98% center; }

#dubinfo-preview span {
  font-size: 0.8em;
  display: inline-block;
  padding-left: 20px;
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis; }

#dubinfo-preview .dubinfo-image {
  width: 1.4em;
  display: inline-block; }

#dubinfo-preview .dubinfo-image img {
  width: 100%;
  height: auto; }

#dubinfo-preview > .users-preview .dubinfo-image {
  border-radius: 100%; }

#dubinfo-preview.dubinfo-show {
  border: 1px solid #202020;
  border-bottom: 1px solid #878c8e;
  max-height: 164px;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.dubplus-hide-avatars #chat .chat-container .chat-messages .chat-main li .stream-item-content .image_row,
.dubplus-hide-avatars #header-global .header-right-navigation .user-info .user-image,
.dubplus-hide-avatars #player-controller .left ul li.imgEl {
  display: none !important; }

.dubplus-hide-avatars #chat .chat-container .chat-messages .chat-main li .activity-row,
.dubplus-hide-avatars #player-controller .left ul li.infoContainer {
  padding-left: 0rem !important; }

.dubplus-hide-avatars #header-global .header-right-navigation {
  padding-top: 5px !important; }

.dubplus-show-timestamp #chat .timeinfo {
  display: block !important;
  opacity: 1 !important; }

.dubplus-video-only .right_section {
  display: none !important; }

.dubplus-video-only .left_section {
  margin: 0 auto !important;
  margin-left: 90px !important;
  right: initial !important;
  position: relative !important;
  float: inherit !important;
  padding-right: 200px !important; }

.dubplus-hide-bg .backstretch {
  display: none !important; }

.dubplus-custom-bg {
  width: 100%;
  height: 100%;
  z-index: -999998;
  position: fixed;
  background-size: cover;
  top: 0;
  left: 0; }
