/****************************************************
 * Emoji and emote section
 * twitch logo white: https://i.imgur.com/FhzONPQ.png
 * bttv logo white: https://i.imgur.com/oTfAI0O.png
 */

#autocomplete-preview {
    overflow: auto; 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute; 
    bottom: 56px; 
    background-color: rgba(0,0,0,0.9);
    width: 97%;
    height: auto;
    max-height: 0;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

#autocomplete-preview .preview-item {
  display: block;
  padding: 6px 10px;
  margin: 0;
  cursor: pointer;
}

#autocomplete-preview li:hover,
#autocomplete-preview li.selected {
  background-color: rgba(85,85,85,0.6);
  border-radius: 5px;
}

.preview-item-header {
  flex-basis: 100%; // make it take up the whole width
  line-height: 1;
  width: 100%;
  color: #fff;
  padding: 6px 10px 0;
  background-color: rgba(119, 121, 123, 0.5);;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 5% center;
}
.betterttv-preview-header {
  padding: 11px 10px 3px 44px;
  background-image: url(https://i.imgur.com/oTfAI0O.png);
}
.twitch-preview-header {
  padding: 11px 10px 3px 44px;
  background-image: url(https://i.imgur.com/FhzONPQ.png); 
}


// #autocomplete-preview li:focus {
//   outline: none;
// }

// #autocomplete-preview .preview-item {
//   background-repeat: no-repeat;
//   background-size: 25px;
//   background-position: 98% center;
// }

// .twitch-previews {
//   background-image: url(https://i.imgur.com/FhzONPQ.png); 
// }

// .bttv-previews {
//   background-image: url(https://i.imgur.com/oTfAI0O.png);
// }

// .tasty-previews {
//   background-image: url(#{$resourceSrc}/emotes/tastycat/21.png);
// }

// .frankerFacez-previews {
//   background-image: url(https://i.imgur.com/DuJfI4T.png);
// }

#autocomplete-preview span {
  font-size: 0.9em;
  display:inline-block; 
  padding-left: 13px;
  position: relative;
  top: -5px;
}

#autocomplete-preview .ac-image {
  width: 1.4em;
  display:inline-block;
}
#autocomplete-preview .ac-image img {
  width: 100%;
  height: auto;
}

.users-preview .ac-image {
  border-radius: 100%;
}

#autocomplete-preview.ac-show {
  border: 1px solid #202020;
  border-bottom: 1px solid #878c8e;
  max-height: 164px;
  transition: max-height 0.4s;
}

.twitch-emote.emoji,
.bttv-emote.emoji {
  max-width: 1.75rem !important;
  height: auto !important;
}

/* 
  tasty emotes get a specific Width and Height from the API 
  The max width is 75px
*/
.tasty-emote.emoji {
  max-width: 75px !important;
  width: auto !important;
  height: auto !important;
}