/****************************************************
 * Emoji and emote section
 * twitch logo white: https://i.imgur.com/FhzONPQ.png
 * bttv logo white: https://i.imgur.com/oTfAI0O.png
 */

 // the <ul> container 
#autocomplete-preview {
    overflow: auto; 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute; 
    bottom: 56px; 
    background-color: rgba(0,0,0,0.9);
    width: 97%;
    height: auto;
    max-height: 0;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

// the header list item for each grouping of results
.preview-item-header {
  flex-basis: 100%; // make it take up the whole width
  line-height: 1;
  width: 100%;
  color: #fff;
  padding: 6px 10px 0;
  background-color: rgba(119, 121, 123, 0.5);;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 5% center;
}
.betterttv-preview-header {
  padding: 11px 10px 3px 44px;
  background-image: url(https://i.imgur.com/oTfAI0O.png);
}
.twitch-preview-header {
  padding: 11px 10px 3px 44px;
  background-image: url(https://i.imgur.com/FhzONPQ.png); 
}

// each list item that holds each result
#autocomplete-preview .preview-item {
  display: block;
  padding: 6px 10px;
  margin: 0;
  cursor: pointer;
}

#autocomplete-preview .preview-item:hover,
#autocomplete-preview .preview-item.selected {
  background-color: rgba(85,85,85,0.6);
  border-radius: 5px;
}


#autocomplete-preview span {
  font-size: 0.9em;
  display:inline-block; 
  padding-left: 13px;
  position: relative;
  top: -5px;
}
#autocomplete-preview .preview-item-header span {
  padding-left: 20px;
}

#autocomplete-preview .ac-image {
  width: 1.4em;
  display:inline-block;
}
#autocomplete-preview .ac-image img {
  width: 100%;
  height: auto;
}

.users-preview .ac-image {
  border-radius: 100%;
}

#autocomplete-preview.ac-show {
  border: 1px solid #202020;
  border-bottom: 1px solid #878c8e;
  max-height: 164px;
  transition: max-height 0.4s;
}

#chat .chat-container .chat-messages .chat-main li .activity-row .text img {
  // alters the emoji when replaced in chat
  &.twitch-emote {
    max-width: 1.75rem !important;
    height: auto !important;
  }
  
  &.bttv-emote {
    width: auto !important;
    height: auto !important;
    max-height: 35px;
  }
}

.twitch-previews {
  .ac-image {
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    background-image: url(#{$resourceSrc}/images/twitch-spritesheet.png);
    background-repeat: no-repeat;
  }
}
.bttv-previews {
  .ac-image {
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    background-image: url(#{$resourceSrc}/images/bttv-spritesheet.png);
    background-repeat: no-repeat;
  }
}