.dubplus-custom-bg {
  width: 100%;
  height: 100%;
  z-index: -999998;
  position: fixed;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  top: 0;
  left: 0;
  display: none;
}

@media screen and (min-width: 48em) {
  .dubplus-custom-bg {
    display: block;
  }
}

// https://wallpaperplay.com/walls/full/3/f/d/159398.jpg