@media screen and (min-width: 72em) {
  .dubplus #player-controller {
    overflow: visible;
  }
}

#player-controller .right {
  .dubplus-updub-btn,
  .dubplus-downdub-btn,
  .dubplus-grab-btn {
    position: relative;

    &:hover .dubinfo-preview {
      max-height: 164px;
      display: block;
    }
  }
}

#player-controller .right .dubinfo-preview {
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid #878c8e;
  border: 1px solid #202020;
  bottom: 100%;
  display: none;
  height: 164px;
  list-style-type: none;
  margin: 0;
  max-height: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 10001;
  transition: max-height 0.4s;

  &.dubinfo-updubs,
  &.dubinfo-grabs {
    border-radius: 0.4rem 0.4rem 0.4rem 0;
  }

  &.dubinfo-downdubs {
    border-radius: 0.4rem 0.4rem 0 0.4rem;
  }

  &.dubinfo-no-dubs,
  &.dubinfo-unauthorized {
    .dubinfo-preview-none {
      float: none;
      text-align: center;
      padding: 50px 10px 0;
      width: 100%;
    }
  }

  &.dubinfo-no-dubs {
    color: #0ff;
  }

  &.dubinfo-grabs.dubinfo-no-dubs {
    color: #b3e790;
  }

  &.dubinfo-unauthorized {
    color: #f0f;
  }

  .dubinfo-preview-item {
    background-position: 98% center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    float: none;
    margin: 0;
    padding: 6px 10px;
    width: 100%;

    &:hover,
    &.selected {
      background-color: #555;
    }

    &:focus {
      outline: none;
    }
  }

  .dubinfo-text {
    flex: 1;
    font-size: 0.8em;
    padding-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .dubinfo-image {
    border-radius: 50%;
    overflow: hidden;
    width: 1.4em;
  }

  .dubinfo-image img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.dubplus-chat-system {
  font-style: italic;
  padding-top: 1rem;
  padding: 5px;
  font-weight: 700;
  min-height: 1rem;
  text-align: left;
}

.dubplus-chat-system-grab,
.chat-system-grabbed {
  color: #b3e790 !important;
}
.dubplus-chat-system-updub {
  color: #0ff;
}
.dubplus-chat-system-downdub {
  color: #f0f;
}
