#dp-song-prev-target {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 40px;
}
.dubplus-song-preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;

  &__length {
    justify-self: flex-end;
    margin-left: 10px;
    padding-right: 10px;
  }

  &__title {
    flex: 1;
    line-height: 1.2;
    font-size: 0.85em;

    small {
      display: block;
    }
  }

  &__image {
    margin-right: 10px;
    max-width: 50px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.dplus-song-preview #chat .chat-container .chat-messages {
  height: 95%;
}