// user role colors
$roles : (
  team  : #409fff,
  vip   : #E8C248,
  owner : #89BE6C
);

// icons in the chat box
$icons : (
  team  : "f005", // star
  vip   : "f0a3", //  badge
  owner : ("f055", "f132") // plus + shield
);

// what it says when you hover in Chat
$roleChatHover : (
  team  : "Dub+",
  vip   : "Dub+ VIP",
  owner : "Dub+"
);

// text added to users in Avatar List
$roleAvatarListText : (
  team  : "Dub+ TEAM  -  ",
  vip   : "Dub+ VIP  -  ",
  owner : "Dub+ TEAM  -  "
);
