@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
:root {
  /* colors */
  --dubplus-primary-color: #eb008b;
  --dubplus-secondary-color: #6fcbdc;

  /* fonts */
  --dubplus-font-size: 13px;
  --dubplus-font-family: "Trebuchet MS", Helvetica, sans-serif;

  --dubplus-menu-width: 255px;

  --queup-magenta: #f0f;
  --queup-aqua: #0ff;
  --queup-green: #b3e790;
}

.dubplus-btn-player {
  /* clear button styles */
  appearance: none;
  background: none;
  border: none;
  padding: 0;

  /* mimic site's icon styles from .player_sharing */
  font-size: 1.5rem;
  margin-right: 1.5rem;
  font-family: icomoon;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-dp-tooltip] {
  position: relative;
  cursor: pointer;
}

[data-dp-tooltip]::after {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  content: attr(data-dp-tooltip);
  left: 0;
  bottom: calc(100% + 10px);
  border-radius: 1.5rem;
  box-shadow: 0 0 5px 2px rgba(100, 100, 100, 0.6);
  background-color: white;
  z-index: 10;
  padding: 8px 16px;
  width: 160px;
  transform: translateY(-20px);
  transition: all 150ms cubic-bezier(0.25, 0.8, 0.25, 1);

  font: 1rem/1.5 proxima-nova, sans-serif;
  font-weight: 700;
  font-size: var(--dubplus-font-size);
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

[data-dp-tooltip]:hover::after {
  opacity: 0.8;
  transform: translateY(0);
  transition-duration: 300ms;
}

/* Make the volume controller visible all the time */
.dubplus
  #main_player
  .player_sharing
  .player-controller-container
  .volume-controller-container {
  display: block;
}

.duration {
  font-size: 14px !important;
  margin-top: 0.5em !important;
}

/***************************************************************
 * Dub+ menu styles
 */

.dubplus-menu a {
  color: #999;
}

/***************************************************************
 * User Interface styles
 */

.dubplus-split-chat {
  .chat-main li:nth-child(2n) {
    background: linear-gradient(to right, rgba(155,157,160,0.10) 0%, rgba(0,0,0,0) 100%);
    box-shadow: -16px 0px 0px 0px rgba(155,157,160,0.10);
    width: 100%;

    .chatDelete {
      right: 1.7em !important;
    }
  }

  .split {
    background: linear-gradient(to right, rgba(155,157,160,0.10) 0%, rgba(0,0,0,0) 100%);
    box-shadow: -16px 0px 0px 0px rgba(155,157,160,0.10);
    width: 100%;
  }

  .splitfix {
    right: 1.7em !important;
  }
}

/* hide the chat and only show the video */
.dubplus-video-only {
  .right_section {
    display: none !important;
  }

  .left_section {
    margin: 0 auto !important;
    margin-left: 90px !important;
    right: initial !important;
    position: relative !important;
    float: inherit !important;
    padding-right: 200px !important;
  }
}

/* turns off the video and only shows the chat */
.dubplus-chat-only {
  .left_section {
    display: none !important;
  }
  .right_section {
    width: 40rem !important;
    margin: 0 auto !important;
    right: initial !important;
    position: relative !important;
    float: inherit !important;
  }

  .activity-row .text img {
    max-height: 30rem;
  }
}

.dubplus-hide-avatars {
  #chat .chat-container .chat-messages .chat-main li .stream-item-content .image_row,
  #header-global .header-right-navigation .user-info .user-image,
  #player-controller .left ul li.imgEl {
    display: none !important;
  }

  #chat .chat-container .chat-messages .chat-main li .activity-row,
  #player-controller .left ul li.infoContainer {
    padding-left: 0rem !important;
  }

  #header-global .header-right-navigation {
    padding-top: 5px !important;
  }  
}

.dubplus-hide-bg {
  .backstretch {
    display:none !important;
  }
}

.dubplus-show-timestamp {
  #chat .timeinfo {
    display: block !important;
    opacity: 1 !important;
  }
}