/* Not sure what this is for */
#chat .chat-container .chat-messages .chat-main li .stream-item-content .image_row,
#chat .chat-container .chat-messages .chat-main li .chatDelete {
    top: 0.6rem;
}
#chat .chat-container .chat-messages .chat-main li .activity-row {
    padding-top: 0.6rem;
}
#chat .chat-container .chat-messages .chat-main li.chat-system-loading, 
#chat .chat-container .chat-messages .chat-main li.system, 
#chat .chat-container .chat-messages .chat-main li.system-error, 
#chat .chat-container .chat-messages .chat-main li.chat-me-command-joined {
    padding-top: 1rem;
    padding: 5px;
}