.dp-twitch-picker-icon {
  background-image: url(https://i.imgur.com/FhzONPQ.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
  width: 19px;
  height: 21px;
  transform: translateY(4px);
}
.dubplus-emotes-on .dp-twitch-picker-icon {
  display: inline-block;
}

.dp-emoji-picker-icon {
  color: #fff;
  margin-left: 0.5rem;
  display: inline-block;
  cursor: pointer;
  font-size: 1.2em;
}

.dp-emoji-picker {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  bottom: 56px;
  width: 100%;
  left: 0;
  max-height: 0;
  transition: max-height 0.25s;
  overflow: hidden;

  &.show {
    max-height: 180px;
    overflow-y: scroll;
  }

  span {
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    background-repeat: no-repeat;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.emoji-picker-image {
  background-image: url(#{$resourceSrc}/images/emoji-spritesheet.png);
}

.twitch-picker-image {
  background-image: url(#{$resourceSrc}/images/twitch-spritesheet.png);
}

.bttv-picker-image {
  background-image: url(#{$resourceSrc}/images/bttv-spritesheet.png);
}
