/***************************************************************
 * Dub+ menu styles
 */

$menuWidth : 255px;

/* css switch layout related variables */
$labelBorder : 2;
$switcher : 10;
$padding : 1;

// don't really need to touch these,  they are calcutated based off the above variables
$width : ($switcher * 2) + $labelBorder + 7;
$switchHeight : $switcher + ($labelBorder*2) + ($padding*2) + px;

// switch color related variables
// off state:
$labelBgOff : #333;
$labelBorderOff : #444;
$buttonBgOff : #eb008b;
$buttonBorderOff : #eb008b;
// on state:
$labelBgOn : #666;
$labelBorderOn : $labelBgOn;
$buttonBgOn : #6fcbdc;
$buttonBorderOn : #6fcbdc;


// This is the Dub+ icon in the top right that's always showing
// and triggers the open/close of Dub+
.dubplus-icon {
  width: 26px;
  font-size: 1.2rem;
  line-height: 1.2;
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  margin-left: 1rem;
}


// the main container for the whole menu that slides in
.dubplus-menu {
  position: fixed;
  z-index: 999;
  background-color: rgba(10,10,10,0.98);
  transition: transform 0.3s;
  width: $menuWidth;
  overflow-y: hidden;
  top: 58px;
  right: 0;
  transform: translateX($menuWidth);
  box-sizing: border-box;
  color: #999;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.4;
  padding-bottom: 100px;
  height: calc(100% - 114px);
  a {
    color: #999;
  }
}

.dubplus-menu.dubplus-menu-open {
  transform: translateX(15px);
}

.dubplus-menu-header {
  padding: 12px 15px;
  line-height: 1;
  margin: 0;
  border-bottom: 1px solid #222;
  font-size: 1.2em;
  color: #ccc;
}
.dubplus-menu-section {
  padding: 0 15px;
  border-bottom: 1px solid #222;
  max-height: 500px;
  transition: max-height 0.3s;
  overflow: hidden;
  margin: 0;
  list-style-type: none;
}
.dubplus-menu-section-closed {
  max-height: 0;
  border: none;
}
.dubplus-menu-section-header {
  border-bottom: 1px solid #222;
  overflow:hidden;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #202020;
}
.dubplus-menu-section-header span {
  display: block;
  width: 10%;
  float: left;
}
.dubplus-menu-section-header p {
  width: 90%;
  float: left;
  margin: 0; line-height: 1;
}

.dubplus-switch, 
.dubplus-menu-icon {
  position: relative;
  margin: 10px 0;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

}
.dubplus-menu-icon a {
  text-decoration: none;
}
.dubplus-menu-icon .fa {
  position: relative;
  color: #eb008b;
  width: $width + px;
  float: left;
  display: block;
  top: 2px;
  cursor:pointer;
}
.dubplus-switch-bg {
  position: relative;
  float: left;
  top: 2px;
  z-index: 2;
  padding: $padding+px;
  height: $switchHeight;
  width: $width + px;
  border-radius: 20px;
  background: $labelBgOff;
  border: $labelBorder + px solid $labelBorderOff;
  cursor: pointer;
  transition: transform .8s cubic-bezier(1, 0, .5, 0);
}

.dubplus-switcher {
  display: inline-block;
  width: $switcher + px;
  height: $switcher + px;
  border-radius: $switcher + px;
  vertical-align: middle;
  position: absolute;
  top: 0;
  z-index: 2;
  background: $buttonBgOff;
  transition: transform 0.2s cubic-bezier(0.8, 0, 0.05, 1);
}

.dubplus-switch-on .dubplus-switch-bg {
  background: $labelBgOn;
}

.dubplus-switch-on .dubplus-switcher {
  background: $buttonBgOn;
  border: $labelBorder + px solid $buttonBorderOn;
  transform: translateX(98%);
}

.dubplus-switch .dubplus-menu-label,
.dubplus-menu-icon .dubplus-menu-label {
  padding-left: 11px;
  cursor: pointer;
  display:table-cell;
  width:10000px;
}

.dubplus-switch .extra-icon {
  display: block;
  cursor: pointer;
  height: 100%;
  width: 9%;
  float: right;
}