.onErr {
    display: block;
    width: 100vw;
    height: 100vw;
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 2147483647;
    font-weight: 400;
    top: 0;

    .container {
        display: block;
        margin-top: 108px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        box-shadow: 0 0 5px #000;
        background: #111;
        color: #fff;
        width: 640px;
        
        .title {
            height: 54px;
            background: #333;
        }
        .title h1 {
            margin: 0;
            text-align: center;
            padding-top: 12px;
            font-weight: 400;
        }
        .content {
            width: 75%;
            margin: 0 auto;
            padding: 27px;
        }
        .content p {
            margin: 0;
            padding-bottom: 16px;
            font-size: 14px;
        }
        .content .input {
            width: 100% !important;
            height: 108px !important;
            background: #333;
            padding: 16px;
            color: white;
            border-radius: 5px;
            border: transparent;
            font-size: 14px;
        }
        .control {
            display: inline-block;
            width: 100%;
            font-size: 0;
        }
        .control .cancel {
            display: inline-block;
            width: 50%;
            text-align: center;
            background: #333;
            font-size: 16px;
            cursor: pointer;
        }
        .control .confirm {
            display: inline-block;
            width: 50%;
            text-align: center;
            background: #0ff;
            font-size: 16px;
            cursor: pointer;
        }
        .control .confirm, 
        .control .cancel {
            padding: 1em 0 0 0;
        }
    }
}